<form method='post' action='phonebook'>

	First Name<br>
	<input type='text' name='first_name'><p>
	Last Name<br>
	<input type='text' name='last_name'><p>
	Street Address<br>
	<input type='text' name='street_address'><p>
	City<br>
	<input type='text' name='city'><p>
	State<br>
	<input type='text' name='state'><p>
	Zip<br>
	<input type='text' name='zip'><p>
	Cell Phone<br>
	<input type='text' name='cell_phone'><p>
	<input type='submit'> 


</form>