<!DOCTYPE html>
<h1>Contacts</h1><p>
<html lang='en' class='layout'>
<head>
	<meta charset='UTF-8'>

<link rel='stylesheet' type='text/css' href='/css/custom.css'>
<!-- allows the other styles to show through -->
<%= yield %>